#wrapper{
    max-width: 480px;
    padding-top: 20px;
    margin:0 auto;
}

/*blue box*/
#nav-info{
    display: flex;
    flex-wrap: wrap;
}
aside{
    display:none;
}

#logo{
    
    width:60px;
}

.icon{
    width:60px;
   padding-left:20px;
   padding-top:5px;
   
}

nav{
    width:420px;
}

ul{
    list-style: none;
    text-align: center;

}

li{
    padding: 5px;
    display: inline-block;
    color:rgb(96,190,174);
    text-align: center;
    font-size: 1.7rem;
}

/*yellow box*/
.pic{
    background-image:url(../img/discuss01.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    height:248px;
    position:relative;
    margin-top:10px;
}

.title-box{
    position: absolute;
    left: 0px;
    bottom: 0px;
    width:100%;
}

#titleA{
    background-color: white;
    color:black;
    width:100%;
    font-size: 1rem;
    line-height: 1rem;
    padding:10px;
}
#titleB{
    background-color: black;
    color:white;
    width:100%;
    font-size: 1rem;
    line-height: 1rem;
    padding:10px;
    
}

#nd-nav{
    display:none;
}

/*red box*/
#archives{
    display: flex;
    flex-wrap: wrap;

}

.arti-with-pic{
    margin-top: 20px;   
    margin-bottom: 20px; 
    padding:0 5px;
    width:50%;
}

.img img {
    position:relative;
    width:100%;
}

.title{
    color:rgb(96,190,174);
    font-size: 1.8rem;
}

time{
    color:#AAA;
}
